<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="py-2 bg-body-tertiary border-bottom">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item"><a th:href="@{/}" class="nav-link link-body-emphasis px-2 active" aria-current="page">Главная</a></li>
                    <li class="nav-item"><a th:href="@{/account}" class="nav-link link-body-emphasis px-2">Профиль</a></li>
                </ul>

                <ul th:if="${logged}" class="nav">
                    <li class="nav-itemO"><a th:href="@{/logout}" class="nav-link link-body-emphasis px-2">Выйти</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <p>Добро пожаловать</p>
</body>
</html>