<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/registration.css}">
    <title>Регистрация</title>
</head>
<style>

</style>
<body>
<form th:action="@{/registration}" method="post" th:object="${user}">

    <div class="wrapper fadeUpDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <a class="inactive underlineHover" th:href="@{/login}">Sign In </a>
            <h2 class="active"> Sign Up </h2>

            <!-- Registration Form -->
            <form>
                <input class="fadeUp first"
                       type="text"
                       id="nickname"
                       name="nickname"
                       placeholder="Enter nickname"
                >


                <input class="fadeUp second"
                       type="text"
                       id="login"
                       name="login"
                       placeholder="Enter login"
                >

                <input class="fadeUp third"
                       type="password"
                       id="password"
                       name="password"
                       placeholder="Enter password"
                >

                <input class="fadeUp fourth"
                       type="submit"
                       value="Log Up"
                >
            </form>


        </div>
    </div>
</form>
</body>
</html>
